/* class utility */
body, h1, h2 {
    font-weight: 300;
}

h1 {
    font-size: 40px;
}

h2 {
    margin-bottom: 24px;
    font-size: 30px;
}

ul {
    list-style: none;
}

.m-bottom {
    margin-bottom: 36px;
}

.img-100 {
    width: 100%;
}

.radius-img {
    border-radius: 20px;
    overflow: hidden;
}

.subtitle {
    color: #888;
    font-size: 20px;
    margin-bottom: 24px;
}
/* end class utility */

/* buttons */
[class^="button-"] {
    border-radius: 22px;
    color: #fff;
    font-size: 16px;
    padding: 2px;
    font-weight: 500;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid rgba(0, 0, 0, 0);
}

[class^="button-bg-"] {
    border-radius: 18px;
    padding: 5px 15px;
}

.button-bg-black {
    background-color: #363636;
    font-size: 14px;
}

.button-black:hover {
    border: 2px solid #363636;
}

.button-bg-red {
    background-color: #CD3D0F;
}

.button-red:hover {
    border: 2px solid #CD3D0F;
}

.button-bg-blue {
    background-color: #2D64E6;
}

.button-blue:hover {
    border: 2px solid #2D64E6;
}

.button-bg-white {
    background-color: #fff;
    color: #000;
}

.button-white:hover {
    border: 2px solid #fff;
}

.button-bg-grey {
    background-color: #D9DADC;
    color: #2D64E6;
}

.button-grey:hover {
    border: 2px solid #D9DADC;
}

/* -------------- */

header {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #000;
}

/* riscrittura navbar bootstrap */

.navbar-light .navbar-toggler {
    border-color: rgba(0, 0, 0, .3);
}

nav.navbar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1001;
}

.nav-item .nav-link {
    font-size: 14px;
}

.nav-item .nav-link::after {
    content: "\f078";
    font-weight: 900;
    font-family: 'Font Awesome 5 Free';
    font-size: 10px;
    vertical-align: middle;
    padding: 3px;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #2D64E6;
}

.navbar-light .navbar-nav .nav-link:hover i {
    color: #333
}
/* ------------ */

/* inizio main page  */

/* sezione jumbotron */
.jumbotron {
    background-image: url('../img/jumbo-bg.png');
    background-size: cover;
    background-position: center;
    padding-top: 250px;
    padding-bottom: 50px;
    color: #fff;
}

.jumbotron img, .jumbo-text {
    margin-bottom: 24px;
}
/* sezione games */
.games {
    margin-bottom: 60px;
}

.game-img {
    border: 2px solid rgba(0, 0, 0, 0);
    opacity: .7;
    position: relative;
    transition: all 1ms;
}

.game-img:hover {
    opacity: 1;
    bottom: 10px;
    background-color: rgba(0, 0, 0, .3);
    box-shadow: 0px 5px 30px grey;
}

.game-img-inner {
    border: 2px solid rgba(0, 0, 0, 0);
}

/* sezione play station */
.top-title {
    color: #2D64E6;
    font-size: 16px;
}

a.ps-item {
    color: #333;
    text-decoration: none;
    opacity: .5;
    border-bottom: 2px solid #fff;
}

a.ps-item img {
    width: 70%;
}

a.ps-item:hover {
    opacity: 1;
}

a.ps-item:focus {
    opacity: 1;
    border-bottom: 2px solid #2D64E6;
}

/* sezione take two */
.takes-two {
    background-image: url('../img/it-takes-two-hero-banner-desktop.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    padding-top: 60px;
    padding-bottom: 60px;
}

/* sezione new releases */
section.new-rel {
    padding-top: 36px;
    padding-bottom: 60px;
    background-color: #1f1f1f;
    color: #fff;
}

.new-rel-item {
    margin-bottom: 24px;
}

.new-rel .subtitle {
    color: #fff;
}

/* sezione esplora play */
.explorer-ps {
    padding-top: 60px;
}

.reg-style {
    font-size: 24px;
    vertical-align: top;
    font-weight: 200;
}

.explorer-item img {
    cursor: pointer;
}

/* sezione plus */
.ps-plus {
    background: #BEBCBB;
}

.plus-info, .now-info {
    padding-top: 24px;
    padding-bottom: 24px;
}

.banner-text {
    font-size: 16px;
    padding-top: 24px;
    padding-bottom: 24px;
}

/* sezione sales */
.sales img {
    margin-bottom: 24px;
}

/* sezione playstation now */
.ps-now {
    background: #161D39;
}

.ps-now .banner-text {
    color: #fff;
}

/* sezione social */
.social img {
    cursor: pointer;
}

/* sezione footer */
footer {
    background-color: #114596;
    padding-top: 60px;
    padding-bottom: 60px;
    color: #fff;
}

.footer-play img {
    width: 100px;
    margin-bottom: 24px;
}

.country img {
    width: 18px;
    vertical-align: middle;
}

.footer-link ul li {
    margin-bottom: 10px;
    font-size: 14px;
    cursor: pointer;
}

.copyright span {
    text-decoration: underline;
}

.copyright img {
    width: 100px;
}

/* animation */
.animation-1 {
    animation: onda-1 20s linear infinite;
}

.animation-2 {
    animation: onda-2 20s linear infinite;
}

.animation-3 {
    animation: onda-3 20s linear infinite;
}

.animation-4 {
    animation: onda-4 20s linear infinite;
}

.animation-5 {
    animation: onda-5 20s linear infinite;
}

.animation-6 {
    animation: onda-6 20s linear infinite;
}

@keyframes onda-1 {
    0% {
        border: 2px solid rgba(0, 0, 0, 0);
        opacity: .7;
    }
    
    1% {
        border: 2px solid #2D64E6;
        opacity: 1;
    }

    15% {
        border: 2px solid #2D64E6;
        opacity: 1;
    }

    16% {
        border: 2px solid rgba(0, 0, 0, 0);
        opacity: .7;
    }
}

@keyframes onda-2 {
    16% {
        border: 2px solid rgba(0, 0, 0, 0);
        opacity: .7;
    }
    
    17% {
        border: 2px solid #2D64E6;
        opacity: 1;
    }

    31% {
        border: 2px solid #2D64E6;
        opacity: 1;
    }

    32% {
        border: 2px solid rgba(0, 0, 0, 0);
        opacity: .7;
    }
}

@keyframes onda-3 {
    32% {
        border: 2px solid rgba(0, 0, 0, 0);
        opacity: .7;
    }
    
    33% {
        border: 2px solid #2D64E6;
        opacity: 1;
    }

    47% {
        border: 2px solid #2D64E6;
        opacity: 1;
    }

    48% {
        border: 2px solid rgba(0, 0, 0, 0);
        opacity: .7;
    }
}

@keyframes onda-4 {
    48% {
        border: 2px solid rgba(0, 0, 0, 0);
        opacity: .7;
    }
    
    49% {
        border: 2px solid #2D64E6;
        opacity: 1;
    }

    63% {
        border: 2px solid #2D64E6;
        opacity: 1;
    }

    64% {
        border: 2px solid rgba(0, 0, 0, 0);
        opacity: .7;
    }
}

@keyframes onda-5 {
    64% {
        border: 2px solid rgba(0, 0, 0, 0);
        opacity: .7;
    }
    
    65% {
        border: 2px solid #2D64E6;
        opacity: 1;
    }

    79% {
        border: 2px solid #2D64E6;
        opacity: 1;
    }

    80% {
        border: 2px solid rgba(0, 0, 0, 0);
        opacity: .7;
    }
}

@keyframes onda-6 {
    80% {
        border: 2px solid rgba(0, 0, 0, 0);
        opacity: .7;
    }
    
    81% {
        border: 2px solid #2D64E6;
        opacity: 1;
    }

    99% {
        border: 2px solid #2D64E6;
        opacity: 1;
    }

    100% {
        border: 2px solid rgba(0, 0, 0, 0);
        opacity: .7;
    }
}
/* --------------- */