/* class utility */
.img-100 {
    width: 100%;
}





/* end class utility */

header {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #000;
}

/* riscrittura navbar bootstrap */


/* ------------ */

.button-black {
    border: 1px solid #333;
    border-radius: 15px;
    background-color: #333;
    color: #fff;
    font-size: 12px;
    padding: 5px 10px;
}