/* class utility */
body {
    font-weight: 500;
}

h1 {
    font-size: 40px;
    margin-bottom: 36px;
}

h2 {
    margin-bottom: 24px;
    font-size: 30px;
}

.m-bottom {
    margin-bottom: 36px;
}

.img-100 {
    width: 100%;
}

.radius-img {
    border-radius: 20px;
    overflow: hidden;
}

[class^="button-"] {
    border-radius: 20px;
    color: #fff;
    font-size: 16px;
    padding: 2px;
    font-weight: 500;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid rgba(0, 0, 0, 0);
}

[class^="button-bg-"] {
    border-radius: 18px;
    padding: 5px 10px;
}

/* end class utility */

header {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #000;
}


/* riscrittura navbar bootstrap */

.navbar-light .navbar-toggler {
    border-color: rgba(0, 0, 0, .3);
}

nav.navbar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1001;
}

.nav-item .nav-link::after {
    content: "\f078";
    font-weight: 900;
    font-family: 'Font Awesome 5 Free';
    font-size: 12px;
    vertical-align: middle;
    padding: 3px;
}

/* ------------ */
.button-bg-black {
    background-color: #333;
    font-size: 14px;
}

.button-black:hover {
    border: 2px solid #333;
}



/* inizio main page  */

/* sezione jumbotron */
.jumbotron {
    background-image: url('../img/jumbo-bg.png');
    background-size: cover;
    background-position: center;
    padding-top: 250px;
    padding-bottom: 50px;
    color: #fff;
}

.jumbotron img, .description {
    margin-bottom: 24px;
}

.button-bg-red {
    background-color: #CD3D0F;
}

.button-red:hover {
    border: 2px solid #CD3D0F;
}

/* sezione games */
.games {
    margin-bottom: 60px;
}

.game-img {
    border: 2px solid #fff;
}

.game-img:hover {
    border-color: #0074D0;
}

.game-img-inner {
    border: 2px solid #fff;
}

/* sezione play station */
.top-title {
    color: #0074D0;
    font-size: 16px;
}

.subtitle {
    color: #777;
    font-size: 22px;
    margin-bottom: 24px;
}

.button-bg-blue {
    background-color: #0074D0;
}

.button-blue:hover {
    border: 2px solid #0074D0;
}

.ps-item {
    position: relative;
    opacity: .5;
    border-bottom: 2px solid #fff;
}

.ps-item:hover {
    opacity: 1;
    border-bottom: 2px solid #0074D0;
}

.ps-subtitle {
    text-align: center;
}

/* sezione take two */
.takes-two {
    background-image: url('../img/it-takes-two-hero-banner-desktop.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    padding-top: 60px;
    padding-bottom: 60px;
}

/* sezione new releases */
section.new-rel {
    padding-top: 36px;
    padding-bottom: 60px;
}


.new-rel {
    background-color: #1f1f1f;
    color: #fff;
}

.new-rel .subtitle {
    color: #fff;
}

/* sezione esplora play */
.explorer {
    padding-top: 60px;
}

.reg-style {
    font-size: 24px;
    vertical-align: top;
    font-weight: 300;
}

.explorer-item {
    padding-bottom: 36px;
}

